POSTGRES_DB=datahub
POSTGRES_USER=datahub
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432
# ClickHouse
CLICKHOUSE_HOST=127.0.0.1
CLICKHOUSE_PORT=8123
CLICKHOUSE_DB=datahub_analytics
CLICKHOUSE_USER=datahub
CLICKHOUSE_PASSWORD=change_me
